body {
    font-family: Arial, Helvetica, sans-serif;
    width: 1024px;
    margin: auto;
}

#header {
    background-color: rgb(214, 59, 31);
    height: 200px;
    color: white;
    margin-bottom: -50px;
    padding: 40px;
    text-align: center;
}

h1 {
    font-size: 32px;
    margin-bottom: 35px;
}

#header a{
    color: white;
    margin: 30px;
}

#buttons {
    height: 100px;
    text-align: center;
    font-size: 12px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#buttons button {
    border-radius: 50px;
    width: 100px;
    height: 100px;
    border: none;
    font-size: 16px;
}

#button1 {
    background-color: rgb(247, 180, 57);
    color: rgb(2, 2, 71);
}

#button2 {
    background-color: yellow;
    margin-left: 20px;
    margin-right: 20px;
}

#button3 {
    background-color: rgb(32, 179, 12);
    color: white;
}

#button4 {
    background-color: rgb(41, 72, 247);
    margin-left: 20px;
    margin-right: 20px;
    color: white;
}

#button5 {
    background-color: rgb(125, 85, 189);
    color: white;
}

#content {
    background-color: rgb(36, 35, 35);
    height: 225px;
    color: white;
    margin-top: -50px;
    padding-top: 80px;
    padding-bottom: 20px;
    text-align: center;
}

#other {
    padding: 5%;
    background-color: lightgrey;
    height: 430px;
    text-align: center;
}

#social {
    padding-top: 10px;
    background-color: rgb(36, 35, 35);
    height: 100px;
    color: lightgrey;
    text-align: center;
}

table {
    width: 100%;
    text-align: center;
    vertical-align: middle;
    border: solid 10px lightgrey;
}

td {
    background-color: white;
    padding: 10px;
    padding-top: 25px;
    padding-bottom: 25px;
}

tr {
    background-color: white;
    border: solid 10px lightgrey;
}

th {
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
}

td img {
    width: 170px;
    height: 220px;
}

#other button {
    margin: 20px;
    width: 150px;
    height: 35px;
}

#social img {
    width: 30px;
    height: 30px;
    margin: 5px;
}


#content p {
    margin-left: 70px;
    margin-right: 70px;
}